/*1461244792,*/

._4z-s div{color:#4e5665}._3wgb{color:#dc3847}._3wgc{color:#52bb5d}._3wgd{color:#5890ff}
.sp_gTlIMMtbro4_2x{background-image:url(/rsrc.php/v2/yS/r/scWrP42p1Sj.png);background-size:15px 30px;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}.sp_gTlIMMtbro4_2x.sx_b4d79e{width:12px;background-position:0 -15px}.sp_gTlIMMtbro4_2x.sx_f1fa65{background-position:0 0}

#bootloader_mZIrW{height:42px;}.bootloader_mZIrW{display:block!important;}