/*1461639683,*/

._287i{display:inline-block;font-size:12px;line-height:22px;vertical-align:middle}
.sp_OKPaa2LojUU_2x{background-image:url(/rsrc.php/v2/yc/r/Ys6J4m5WaFa.png);background-size:17px 26px;background-repeat:no-repeat;display:inline-block;height:13px;width:16px}.sp_OKPaa2LojUU_2x.sx_39fa63{height:11px;background-position:0 0}.sp_OKPaa2LojUU_2x.sx_54650b{width:13px;background-position:0 -12px}

#bootloader_llMdK{height:42px;}.bootloader_llMdK{display:block!important;}