/*1462284054,*/

._jne{border-color:#dcdee3;width:250px}._958{width:258px}._jne::-webkit-input-placeholder{color:#9197a3}
._40zk{border-top:1px solid #dcdee3;cursor:pointer;margin-top:6px;opacity:.6}

#bootloader_9w8op{height:42px;}.bootloader_9w8op{display:block!important;}